.card-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.card-grid > * {
  flex: 0 0 5em;
  margin: 0.5em;

  min-width: 22em;
  max-width: 37.5em;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;

  img {
    height: 250px;
  }

  mat-card-subtitle {
    position: relative;
    top: 5px;
  }
}

.msg-block {
  h1, h2 {
    margin-top: 10px;
  }
}
