<div class="row">

  <div class="col-3">
    <filter-block (newsEmitter)="addFilter($event)"></filter-block>
  </div>

  <div class="col-9">
    <ul class="u-listReset card-grid">
      <li *ngFor="let item of collection" class="u-marginBottom">
        <mat-card class="card">
          <mat-card-header *ngIf="item.name">
            <mat-card-title>{{ item.name }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{ item.url }}">
          <mat-card-content *ngIf="item.temperament">
            <mat-card-subtitle><strong>{{ item.temperament }}</strong>
            </mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>

    <div class="msg-block">
      <div *ngIf="isLoading">
        <h1>Loading...</h1>
      </div>

      <div *ngIf="!collection.length && !isLoading">
        <h2>No Cats were found :c</h2>
      </div>
    </div>
  </div>

</div>
